<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Amazon_Price_Checker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="ItemsConnection" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\ItemsDB.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="x86" />
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <Amazon_Price_Checker.Properties.Settings>
      <setting name="StartOnStartup" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="StartInTray" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MinimizeToTray" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MinimizeOnClose" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PriceCheckOnLaunch" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ResizeBrowser" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ResizeBrowserFullScreen" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ResizeBrowserToFit" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="NoResizingTabs" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ResizeTabsToPrevious" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ResizeTabsToDefault" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SchedulerEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SchedulerOption" serializeAs="String">
        <value>Hours</value>
      </setting>
      <setting name="ScheduleTime" serializeAs="String">
        <value>12</value>
      </setting>
      <setting name="ReceiveNotifications" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EmailNotifications" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EmailAddress" serializeAs="String">
        <value />
      </setting>
      <setting name="PopupNotifications" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LastPriceCheck" serializeAs="String">
        <value />
      </setting>
      <setting name="NextScheduledPriceCheck" serializeAs="String">
        <value />
      </setting>
      <setting name="TextNotifications" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PhoneNumber" serializeAs="String">
        <value />
      </setting>
      <setting name="CarrierAddress" serializeAs="String">
        <value />
      </setting>
      <setting name="LimitNotifications" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AccentColor" serializeAs="String">
        <value>#FF1E90FF</value>
      </setting>
    </Amazon_Price_Checker.Properties.Settings>
  </userSettings>
</configuration>
